body {
  background-color: #fff;
  color: #333;
   }

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px; }

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px; }

a {
  color: #000; }

a:visited {
  color: #666; }

a:hover {
  color: #000000;
  background-color: #e3e3e3;
  border-radius: .2rem}

th {
  padding-bottom: 5px; }

td {
  padding: 0 5px 7px; }

div.field,
div.actions {
  margin-bottom: 10px; }

#notice {
  color: green; }

.field_with_errors {
  padding: 2px;
  width: 100%;
  background-color: #f7d6d9;
  display: block; }



#error_explanation {
  display: none;
  border: 2px solid #f0f0f0;
  padding: .375rem .75rem;
  margin-bottom: 20px;
  background-color: #f0f0f0; }

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px -7px 0;
  background-color: #c00;
  color: #fff; }

#error_explanation ul li {
  font-size: 12px;
  list-style: square; }

label {
  display: block; }

.miniature{
  table-layout: fixed;
  max-width: 176px;
  max-height: 82px;
}
img_miniature{
  max-width: 30%;

}
img_show{
   border: .2rem solid #3c3c3c;
}

.about_comment{
  background: #eeeded;
  padding: .7rem;
  margin-bottom: 1rem;
  border-radius: .5rem .5rem 0 0;
  border: 2px solid #707070;

}
.post_text{
  font-size: large;
}


.coment_box{
  padding: 0.6rem;
  padding-left: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: large;

}
.add_new_comment{
  border-radius: .5rem .5rem .5rem .5rem;
  border: 2px solid #3c3c3c;
  padding: .8rem;
  background: #d4d4d4;
}
.icons{
 width: 1rem
}
.post_box{

  border-radius: .4rem;
  font-family: -apple-system,
  BlinkMacSystemFont,"Segoe UI",
  Roboto,"Helvetica Neue",Arial,
  sans-serif,"Apple Color Emoji",
  "Segoe UI Emoji","Segoe UI Symbol";
  background: #e8ebee;
  line-height: 1.5;
  text-align: left;
  padding-bottom:  2rem;
}


.title_show{
  border-radius: .4rem;
  font-family: -apple-system,
  BlinkMacSystemFont,"Segoe UI",
  Roboto,"Helvetica Neue",Arial,
  sans-serif,"Apple Color Emoji",
  "Segoe UI Emoji","Segoe UI Symbol";
  background: #e8ebee;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  padding: 4rem 2rem;
}
.lead_time{
  font: caption;
  font-size: 1rem;
  font-weight: 100;
}
.user_box{
  border: 2px solid #4e4e4e;
}